<app-header
  title="Cart"
  subtitle="All the selected products in your cart"
  button=""
></app-header>
<div class="container">
  <a (click)="removeAllItem()" class="btn btn-danger"
    ><i class="fas fa-times-circle"></i> Clear Cart</a
  >
  <a class="btn btn-success checkout"
    ><i class="fas fa-shopping-cart"></i> Check out</a
  >
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Product</th>
        <th scope="col">Quantity</th>
        <th scope="col">Unit price</th>
        <th scope="col">Price</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of datas">
        <td>{{ product.name }}</td>
        <td>
          <input
            (change)="test(product.id, $event)"
            type="number"
            id="quantity"
            name="quantity"
            value="{{ product.amount }}"
          />
        </td>
        <td>{{ product.price }}</td>
        <td>{{ product.price * product.amount }}</td>
        <td>
          <a (click)="removeItem(product.id)" class="btn btn-danger"
            ><i class="fas fa-times"></i> Remove</a
          >
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td><div id="cart__total">0</div></td>
      </tr>
    </tbody>
  </table>

  <a href="/products" class="btn btn-success"
    ><i class="fas fa-arrow-alt-circle-left"></i> Continue shopping</a
  >
</div>
